#IerCaja {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

#imagen1 {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagen1 img {
    width: 55%;
}

#content1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    width: 60%;
    padding-right: 2%;
    text-align: right;
    justify-content: right;
}

#content1 h1 {
    text-align: right;
}

#equipo {
    margin: 0% 0%;
    background-image: url(../imgs/8431480.jpg);
    background-position: 100%;
    background-size: cover;
    padding-top: 2%;
}

#equipo h1 {
    text-align: center;
    margin-bottom: 3%;
}

#boxMV {
    display: flex;
    justify-content: space-around;
    margin: 5% 0%;
}

#mision {
    width: 50%;
    text-align: justify;
    border-right: 1px solid #585858;
    padding: 0 2.5%;
}

#vision {
    width: 50%;
    text-align: justify;
    border-left: 1px solid #585858;
    padding: 0 2.5%;
}

@media (max-width: 900px) {
    #IerCaja {
        background-image: url(../imgs/svg1.jpg);
        box-shadow: 0px 340px 10px 100px #ffffff80 inset;
        background-position: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #IerCaja img {
        width: 0%;
    }

    #content1 {
        justify-content: center;
        text-align: right;
        width: 100%;
        padding: 20px;
    }

    #boxMV {
        flex-direction: column;
    }

    #mision, #vision {
        width: 100%;
        padding-right: 0;
        border: none;
    }
}

#integrantes-cards {
    margin: 0 auto;
}

@media (min-width: 950px) {
    
    #integrantes-cards {
        width: 950px;
    }
}

@media (min-width: 1000px) {
    #integrantes-cards {
        width: 1000px;
    }

    .targeta {
        margin: 0% 2%;
    }
}