
    .fixed-size-image {
        max-width: 1000px;
        width: 100%;
        height: auto;
        margin: 0;
        display: block;
    }

    @media (max-width: 800px) {
        .responsive-image {
            max-width: 100%;
            margin-top: 20px;
        }
    }

    .fixed-size-image {
        max-width: 1000px;
        width: 100%;
        height: auto;
        margin: 0;
        display: block;
    }

    @media (max-width: 1000px) {

        .fixed-size-image {
            max-width: 100%;
        }

        .col-lg-6 {

            justify-content: center;

        }

        .col-lg-6 {
            width: 100%;
        }
    }
