#princp {
    display: flex; 
    flex-wrap: wrap; 
    align-items: center;
    background-color: var(--color-background);
}

#info1 {
    width: 50%;
}

#vistaPrevia {
    width: 40%;
}

#equipo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 1000px) {
    #carruselEquisde {
        width: 100%;
    }

    #princp {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #info1 {
        width: 100%;
    }

    #vistaPrevia {
        display: flex;
        justify-content: center;
        margin-top: 4%;
        width: 100%;
    }
}

.card {

    -moz-animation: miAnimacion 0.5s ;
    -webkit-animation: miAnimacion 1s linear;
    }
    
    
    @-moz-keyframes miAnimacion 
    {
    0% { bottom:100%px;}
    100% {bottom:0%;}
    }
    
    @-webkit-keyframes miAnimacion
    {
    0% {bottom: -300px;
        opacity: 0%;}
    100% {bottom:0px;
          opacity: 100%;}
    }

    